body{
    margin: 0px;
    font-family: 'Russo One', sans-serif;
}
.fixed-menubar{
    margin-left: 5%;
    position: fixed;
    margin-top: -72px;
}
.normal-menubar{
    margin-top: 73px;
}
.menubar{}
.menubar nav{
    
}

.menubar ul{
   
}
.menubar li{
    display: inline;
}
.menubar a{
    background: linear-gradient(to left,lightsalmon,tomato);
    color: white;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-left: -4px;
    border-left: 5px solid;
    /* border-right: 3px solid; */
    border-image: linear-gradient(180deg,lightblue,blue);
    border-image-slice: 1;
    box-shadow: 10px 10px 19px gray;

}
.menubar a:hover{
    padding: 10px;
    text-transform: capitalize;
    background-color: antiquewhite;
    background: -webkit-linear-gradient(180deg,lightsalmon,tomato);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    transition: 0.5s;
}
.chide{
    margin-left: 17px;
}
.top-banner{
    background-image: url("../images/top-banner.png");
    height: 500px;
    background-repeat: no-repeat;
}
.half-width{
    width: 40%;
    padding: 2%;
    margin-left: 4%;
    float: left;
}
.half-width img{
    width: 100%;
    margin-left: 28px;
}
.half-width h2{}
.half-width h3{}
.orange-highlight{
    color: orange;
}
.half-width a{
    text-decoration: none;
    font-weight: 700;
    background:-webkit-linear-gradient(180deg,lightsalmon,tomato);
    color: aliceblue;
    padding: 10px 20px;
    border-radius: 5px;
}
.half-width a:hover{
   color: darkgoldenrod;
    background: -webkit-linear-gradient(180deg,lightcyan,cyan);
    
    transition: 0.5s;
}
.dream-area{
    height: 500px;
    background-image: url("../images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    height: 500px;
    background-image: url("../images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;

}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    border-radius: 10px;
    background: whitesmoke;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightblue,blue);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}